<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/signupstyle.css">
    
</head>

<body class="align">

    <div class="logo__container">
        <img src="https://www.101distributorsga.com/images/header/logo.png" alt="Company Logo" class="logo">
    </div>

    <div class="grid">

        <form action="/signup" method="POST" id="signupForm" class="form login">

            <div class="form__field">
                <label for="username"><span class="hidden">Username</span></label>
                <input id="username" type="text" name="username" class="form__input" placeholder="Username" required>
            </div>

            <div class="form__field">
                <label for="password"><span class="hidden">Password</span></label>
                <input id="password" type="password" name="password" class="form__input" placeholder="Password" required>
            </div>

            <div class="form__field">
                <label for="userType"><span class="hidden">User Type</span></label>
                <select name="userType" id="userType" class="form__input" required>
                    <option value="store">Store Manager</option>
                    <option value="warehouse">Warehouse Manager</option>
                </select>
            </div>

            <div class="form__field">
                <input type="submit" value="Sign Up" class="login-button">
            </div>

        </form>

        <p class="text--center">Already a member? <a href="/login">Login now</a></p>

    </div>

</body>

</html>


